* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: calc(120px + 32px);
    padding-top: 32px;
}

header div {
    padding: 4px;
    width: 120px;
    margin: auto;
    display: flex;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;
    transition: transform .3s;

}

header div:hover {
    transform: scale(1.1);
}

header div img {
    width: 100%;
    border-radius: 50%;
}

body {
    background-image: url(./imgs/Fundo.jpg);

    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

main {
    display: grid;
    gap: 16px;
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    margin-top: 32px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    border-radius: 8px;

    padding: 32px;
    padding-top: 24px;
    background-color: #2A2634;
}

section ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin-top: 24px;
    flex-wrap: wrap;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {

    letter-spacing: -0.18px;
    color: #A1A1AA;

}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1)
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    width: 70px;
    border-radius: 50%;
    border: 1px solid #443E54;
}

/*Animation*/

header div {
    animation: fromTop .7s 0.1s backwards;/*nome animacao, duracao, delay pra iniciar e puxar todas as propriedades antes*/


}


@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


main section {
    animation: fromBotton .7s backwards;
}

main section:nth-child(1){
    animation-delay: 0;
}

main section:nth-child(2){
    animation-delay: 0.4s;
}

main section:nth-child(3){
    animation-delay: 0.8s;
}

@keyframes fromBotton {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}